<h2>About the Author</h2>
<p>
Ann Louise Peterson is passionate about weddings. Some may consider her love of wedding planning an obsession, but anyone who knows Ann knows she just enjoys making people happy. She lives in the Salt Lake area with her husband and six children.
<p>
