<p>Hello New Bride!</p>
<p>Official website of author <cite>Ann Louise Peterson</cite>, and <cite>Your LDS Wedding Planner: a guide to a stunning wedding day</cite></p>
<p>Plan the perfect start to your new life with practical, informed, and witty advice for each milestone from engagement to honeymoon. Discover how to pick your cake, dress, venue, and more, all on a budget. With a detailed checklist that you can refer to quickly and often, you’ll be able to find step-by-step answers to all your wedding plan questions in one spot—and a bit of humor to help you relax for the big day.</p>
<p>From “Who pays for what?” to “What should go in my just-in-case bag?,” this guide gets your planning on track to ensure you remember your wedding with more joy and less stress.</p>
<h2>Product Details</h2>
<dl class='dl-horizontal'>
  <dt>Title</dt>
  <dd>Your LDS Wedding Planner: A Guide to a Stunning Wedding</dd>
  <dt>Author</dt>
  <dd>Ann Louise Peterson</dd>
  <dt>Format</dt>
  <dd>Paperback</dd>
  <dt>Page Count</dt>
  <dd>192</dd>
  <dt>Dimensions</dt>
  <dd>6 x 9</dd>
  <dt>ISBN</dt>
  <dd>9781462110162</dd>
  <dt>Vendor</dt>
  <dd>Cedar Fort, Inc.</dd>
  <dt>Imprint</dt>
  <dd>Cedar Fort, Inc.</dd>
  <dt>Release Date</dt>
  <dd>2012-03-13</dd>
  <dt>Price</dt>
  <dd>$13.99</dd>
</dl>
