<!DOCTYPE html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your LDS Wedding Planner</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
  <header>
    <h1>Your LDS Wedding Planner</h1>
    <p>a guide to a stunning wedding day</p>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LDS Wed</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About the Author</a></li>
            <li><a href="#">About the Book</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<p>Hello New Bride!</p>
<p>Official website of author <cite>Ann Louise Peterson</cite>, and <cite>Your LDS Wedding Planner: a guide to a stunning wedding day</cite></p>
<p>Plan the perfect start to your new life with practical, informed, and witty advice for each milestone from engagement to honeymoon. Discover how to pick your cake, dress, venue, and more, all on a budget. With a detailed checklist that you can refer to quickly and often, you’ll be able to find step-by-step answers to all your wedding plan questions in one spot—and a bit of humor to help you relax for the big day.</p>
<p>From “Who pays for what?” to “What should go in my just-in-case bag?,” this guide gets your planning on track to ensure you remember your wedding with more joy and less stress.</p>
<h2>Product Details</h2>
<dl>
  <dt>Title</dt>
  <dd>Your LDS Wedding Planner: A Guide to a Stunning Wedding</dd>
  <dt>Author</dt>
  <dd>Ann Louise Peterson</dd>
  <dt>Format</dt>
  <dd>Paperback</dd>
  <dt>Page Count</dt>
  <dd>192</dd>
  <dt>Dimensions</dt>
  <dd>6 x 9</dd>
  <dt>ISBN</dt>
  <dd>9781462110162</dd>
  <dt>Vendor</dt>
  <dd>Cedar Fort, Inc.</dd>
  <dt>Imprint</dt>
  <dd>Cedar Fort, Inc.</dd>
  <dt>Release Date</dt>
  <dd>2012-03-13</dd>
  <dt>Price</dt>
  <dd>$13.99</dd>
</dl>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
